@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-Bold.woff2") format("woff2"),
    url("NotoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-ExtraBold.woff2") format("woff2"),
    url("NotoSans-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-Medium.woff2") format("woff2"),
    url("NotoSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-Regular.woff2") format("woff2"),
    url("NotoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("NotoSans-SemiBold.woff2") format("woff2"),
    url("NotoSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif Devanagari";
  src: url("NotoSerifDevanagari-Bold.woff2") format("woff2"),
    url("NotoSerifDevanagari-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif Devanagari";
  src: url("NotoSerifDevanagari-Medium.woff2") format("woff2"),
    url("NotoSerifDevanagari-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif Devanagari";
  src: url("NotoSerifDevanagari-Regular.woff2") format("woff2"),
    url("NotoSerifDevanagari-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif Devanagari";
  src: url("NotoSerifDevanagari-ExtraBold.woff2") format("woff2"),
    url("NotoSerifDevanagari-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Serif Devanagari";
  src: url("NotoSerifDevanagari-SemiBold.woff2") format("woff2"),
    url("NotoSerifDevanagari-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bricolage Grotesque 24pt Condensed";
  src: url("BricolageGrotesque24ptCondensed-ExtraBold.woff2") format("woff2"),
    url("BricolageGrotesque24ptCondensed-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
} */
